nav {
    width: 200px;
    height: calc(100vh - 60px);
    background-color: #DEE7E7;
    transition: width 0.3s ease;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .noShow {
        display: none;
    }

    li {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
    }

    a {
        width: 100%;
        text-decoration: none;
        padding: 8px;
        color: #393939;
        display: block;
    }
}

.show {
    position: absolute;
    left: 0;
    z-index: 999;
}
.hidden {
    width: 0;
    min-width: 0 !important;
}

li:hover {
    background-color: #667c88;

    a {
        color: white !important;
    }
}

li.active {
    background-color: #4F646F;

    a {
        font-weight: bold;
        color: white !important;
    }
}